@import "tailwindcss";

@import "tailwindcss";

@font-face {
  font-family: inter-variable;
  src: url("/assets/fonts/inter/inter-variable.ttf");
}

:root {
  --color-black: #000000;
  --color-foreground: #ffffff;
  --color-background: #2854FE;
  --color-background-muted: #325CFF;
  --color-border: #4784FF;
  --color-foreground-muted: #C1CEFF;

  --spacing-0: 0px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-600: 48px;
  --spacing-700: 56px;
}

@theme {
  --color-black: var(--color-black);
  --color-foreground: var(--color-foreground);

  --color-background: var(--color-background);
  --color-background-muted: var(--color-background-muted);
  --color-border: var(--color-border);
  --color-foreground-muted: var(--color-foreground-muted);

  --spacing-0: var(--spacing-0);
  --spacing-300: var(--spacing-300);
  --spacing-400: var(--spacing-400);
  --spacing-600: var(--spacing-600);
  --spacing-700: var(--spacing-700);
}

@utility text-preset-1 {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 106%;
  letter-spacing: -2px;
}

@utility text-preset-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 106%;
  letter-spacing: -2px;
}

@utility text-preset-3 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 111%;
}

@utility text-preset-4 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 160%;
  letter-spacing: -2px;
}

@utility text-preset-5-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 165%;
}

@utility text-preset-5 {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 165%;
}

@utility text-preset-6-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 142%;
}

@utility text-preset-6 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
  letter-spacing: -0.25px;
}

body {
  font-family: inter-variable;
  background-color: var(--color-background);
  color: var(--color-foreground);
}
